@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* .quantico-regular {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.quantico-bold {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.quantico-regular-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.quantico-bold-italic {
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: italic;
} */


:root {
    --bgcolor: rgb(28, 28, 28);
    --textcolor: green;
}

html,
body {
    max-width: 100%;
    overflow: hidden;
}

body {
    background-color: var(--bgcolor);
    margin: 0;
    border: 0;
    max-width: 100%;
    overflow: none;
    scroll-behavior: none;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr auto 1fr 1fr;
    max-height: 100vh;
    height: 100vh;
}

p {
    color: var(--textcolor);
    /* font-weight: bold; */
    margin: 0;
    padding: 0;

    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#intro {
    display: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    padding: 5rem;

    animation: fade 3s linear;

    p {
        font-size: 1rem;
        margin: 0;
    }
}

#messageLog {
    /* background: linear-gradient(red, var(--bgcolor)); */
    /* border: red 2px solid; */
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-size: 1.5rem;
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: .15em;

    p {
        justify-self: center;
    }
}



/* Source: https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Transforms/Using */
.perspective {
    perspective: 100px;
}

.container {
    grid-row: span 2;
    width: 100%;
    height: 100%;
}

.cube {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.face {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;

    text-align: center;
    backface-visibility: visible;
}

.front {
    transform: rotateX(20deg) translateY(-70px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(var(--bgcolor) 5%, transparent 40%);
}


/* .active {
    grid-row: 3;
} */

form {
    width: 100vw;
    height: 1.5em;
    font-size: 3rem;

    input {
        background-color: var(--bgcolor);
        border: green 1px dotted;
        color: green;
        height: 100%;
        margin: 0;
        margin-left: .5rem;
        padding: 0;
        width: calc(85% - 2em);
        font-size: 3rem;

        font-family: "Quantico", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    button {
        background-color: var(--textcolor);
        border: none;
        height: 100%;
        width: 15%;
        font-size: 3rem;
        /* color: green; */
        min-width: min-content;

        font-family: "Quantico", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
}



/* Source: https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter {
    /* margin: .2em; */

    p {
        /* justify-self: center; */
        max-width: min-content;
        font-size: 3rem;

        overflow: hidden;
        /* Ensures the content is not revealed until the animation */
        border-right: .15em solid var(--textcolor);
        /* The typwriter cursor */
        white-space: nowrap;
        /* Keeps the content on a single line */
        margin: 0 auto;
        /* Gives that scrolling effect as the typing happens */
        letter-spacing: .15em;
        /* Adjust as needed */
        animation:
            typing 3.5s steps(40, end),
            blink-caret .75s step-end infinite;
    }
}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: var(--textcolor);
    }
}

@keyframes fade {
    from {}

    to {}
}